html,body{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  min-width:260px;
  color:#333;
}
#main{
  background:#eee;
  width: 100%;
  padding: 15px;
}
#title{
  background:;
}
#img-div{
  margin-top: 20px;
  background: white;
}
#image{
  max-width: 100%;
  height: auto;
  margin-left: 50px;
  margin-right: 50px;

}
#img-caption{
  background:;
  padding-bottom:50px;

}
#tribute-info{
  margin-top: 50px;
  justify-content: center;
}
blockquote{
  margin-top: 50px;
  font-style: italic;
}

#footer{
  font-weight: bolder;
  margin-top: 60px;
}
ul{
  text-align: left;
  max-width: 700px;
  margin:0 auto;
}
li{
  margin:10px;
}
