html,body{
  font-family:"Trebuchet MS", Helvetica, sans-serif;
  text-align:center;
  min-width:260px;
  color:#333;
}
#main{
  background:#eee;
  width: 100%;
  padding: 15px;
}
#title{
  background:;
}
#intro{
  padding-top: -10px;
  padding-bottom: 10px;
}
#img-div{
  background: white;
}
#image{
  max-width: 100%;

}
#img-caption{
  background:;
}
#tribute-info{
  margin-top: 50px;
  justify-content: center;
}

.container{
  display: grid;
  align-items: center;
  justify-content: center;
}
ul{
  text-align: left;
  width: 500px;
  margin:0 auto;
}
li{
  margin:10px;
}
