@import url('https://fonts.googleapis.com/css?family=Krub');
html,body{
  font-family: 'Krub', sans-serif;
  text-align:center;
  min-width:260px;
  background-color:#FFE9D7;
}
.survey_form{
  background: white;
  display:grid;
  grid-template-columns: 70%;
  border: 1px black solid;
  justify-content:space-around;
  grid-template-rows: auto;
}
.labels{
  display:inline-block;

}
.rightColumn{
  display:inline-block;
}
div{
  border:1px black solid;
}
.dropdown {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;
  margin-top: 15px;
  border: 1px solid #6E0D25;
  border-radius: 2px;
}
.sub_button{
  height:35px;
  width: 95px;
  background-color: #6E0D25;
  color: white;
  border-radius: 5px;
  border: 0px solid #DCAB6B;
}
.row{
  justify-content: center;
}
