@import url('https://fonts.googleapis.com/css?family=Oswald');
body{
  font-family: 'Oswald', sans-serif;
}
#header-img{
  height: 30px;
}
#crusher-img{
  height: 90px;
}

/*PRICING*/
#pricing{
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 60px;
}
.product{
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  width: 35%;
  margin: 20px;
  border: 1px solid #000;
  border-radius: 3px;
}
.top-table{
  background-color: #ddd;
  color: black;
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}
li{
  list-style-type: none;
  margin-left:-40px;
  text-transform: uppercase;
}
button{
  border: 0;
  margin: 15px 0;
  background-color: #f1c40f;
  font-weight: 400;
  padding: 0 20px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  border: 3px black solid;
  border-radius: 2px;
  background: transparent;
}
button:hover {
  background-color: lightgreen;
  transition: background-color 1s;
}
/* how it works */
#how-it-works{
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* features */
.container{

}
.grid{
  display:flex;
  padding: 20px;
}
.image{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;

}
.description{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
  margin-bottom: 10px;
}

#features{
  padding: 20px;
}


/* hero */
#hero{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 250px;
}
input[type="email"] {
    max-width: 275px;
    width: 100%;
    padding: 5px;
  }


/* nav bar */
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}
ul {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @media (max-width: 850px) {
      flex-direction: column;
  }
